.serial-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 800px;
  height: 100vh;
  margin: auto;
}
.movie-card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 360px;
  width: 240px;
}
.movie-card-image {
  width: 100%;
  opacity: 0.5;
  transition: all 0.5s;
}
.movie-card-image:hover {
  opacity: 1;
  transform: scale(1.2);
}